<h1>New Post</h1>

<form class="form post-form">
    <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
        <label for="post-content">Content:</label>
        <input class="form-input" type="text" id="post-content" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>




<script src="/js/post.js"></script>